* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


body{
    background-color: rgb(15, 15, 15);
}

header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(243, 181, 12);
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f1f1f1;
    margin-bottom: 10px;
    align-items: center;
}

.icon-header{
    width: 60px;
    height: 60px;
}

.btn-search{
    padding: 10px;
    border-radius: 6px;
    background-color: rgb(231, 125, 26);
}

.btn-search a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    color: #f1f1f1;
    font-size: 15px;
    font-weight: 500;
}
  
.container-gallery {
    column-count: 4;
    column-gap: 10px;
}

.img-gallery{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.img-gallery:hover{
    opacity: 0.2;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9); 
}
  
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
  
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
  
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  
}

footer{
    background-color: rgb(243, 181, 12);
    display: flex;
    justify-content: center;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f1f1f1;
}






 








